/*
  スレッド一覧画面のスタイル
  URL パス: /posts
*/

.posts-index {
  .top {
    display: flex;
    justify-content: center;
  }

  .heading-2 {
    background: #efefef;
  }

  .thread-list {
    color: #333333;
    font-size: 17px;
    background: #fff;
    text-align: left;
    border-radius: 0.75em / 0.75em;
  }

  .post {
    background-color: #efefef;
    border-radius: 0.25em / 0.25em;

    .meta {
      .number {
        color: #333;
        font-size: 14px;
      }

      .name {
        color: #008000;
        font-size: 15px;
      }

      .date {
        color: #333;
        font-size: 14px;
      }

      .user-id {
        color: #333;
        font-size: 14px;
      }
    }

    .post-content {
      color: #333;
      font-size: 17px;
    }
  }

  .text-field {
    width: 24em;
  }

  .text-area-field {
    width: 40em;
    height: 10em;
  }

  .common {
    padding: 0.25em 0.50em;
    border-radius: 0.25em / 0.25em;
    background: #39F; color: #FFF;

  }

  .background {
    z-index:  1;
    width: 93%;
    margin: 0.5em auto 0.75em auto;
    padding: 0.75em;
    border: 1px solid #333;
    color: #333;
    border-radius: 0.75em / 0.75em;
    background: #CFC;
    font-size: 1.00em;
  }

  .thread-box {
    border: solid 1px #000;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 8px;
    background-color:#f2f3f7;
  }

}

.mb-5 {
  margin-bottom: 5px;
}


.mr-1r {
  margin-right: 1rem;
}

.mt-3r {
  margin-top: 3rem;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.search-field {
  margin-right: 10px;
  width: 20rem;
}

.thread-search-result {
  font-weight: bold;
}

.search_posts {
  margin: 20px auto;
  width: 200px;
}
