/*
  スレッド一覧画面のスタイル
  URL パス: /posts
*/

.posts-index {
  .top {
    display: flex;
    justify-content: center;
  }

  .heading-2 {
    background: #efefef;
  }

  .thread-list {
    color: #333333;
    font-size: 14px;
    background-color: #efefef;
    text-align: left;
  }

  .post {
    background-color: #efefef;

    .meta {
      .number {
        color: #333;
        font-size: 14px;
      }

      .name {
        color: #008000;
        font-size: 15px;
      }

      .date {
        color: #333;
        font-size: 14px;
      }

      .user-id {
        color: #333;
        font-size: 14px;
      }
    }

    .post-content {
      color: #333;
      font-size: 17px;
    }
  }

}
