<%# thread の show アクション（スレッド詳細画面）の構造 %>

<main class="thread">
  <h1>スレッドタイトル</h1>

  <%# 投稿 %>
  <div class="posts">
    <% 5.times do %>
      <div class="post">
        <p class="post-title">名前</p>
        <p class="post-content">内容</p>
      </div>
    <% end %>
  </div>

  <%# 投稿フォーム %>
  <div class="posting-form">
    <form action="/threads/1/posts" method="post">
      <input type="text" name="name" class="one-line-post-field">
      <input type="email" name="email" class="one-line-post-field">
      <textarea name="content" class="multi-line-post-field"></textarea>

      <button type="submit">投稿</button>
    </form>
  </div>

  <%= link_to "スレッド一覧", "/threads" %>
</main>
