<div class="user-navigation">
  <ul class="user-navigation-list">
    <li class="user-navigation-list-item"><%= link_to '新規登録', '/sign_up' %></li>
    <li class="user-navigation-list-item"><%= link_to 'サインイン', '/sign_in' %></li>
  </ul>
</div>
