<%#
  スレッド一覧画面の構造
  URL パス: /posts
%>

<main class="posts-index">
  <h1 class="top">
    <%= link_to 'G1ちゃんねる', '/' %>
  </h1>

  <h2>
    <span class="heading-2">この掲示板の主なスレッド</span>
  </h2>

  <!--直近のスレッドを表示-->
  <div class="thread-list">
    <h4>直近のスレッド<h4>

    <p class="thread-detail">
      <%= link_to 'スレッドタイトル1', '/posts/1' %>
    </p>
  </div>
</main>
